{{ define "main" }}

            


<div class="grid top-banner">
    <h1>Welcome to MySite</h1>
    <p>Sann går no dagan</p>
    <a class="cta" href="{{ "/" | relURL }}"><span>Finn ut mer om</span> <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg></a>    

</div> 

<div class="grid top-banner">

          <a class="btn" href="{{ "/" | relURL }}">Finn ut mer om</a>      
    
    </div> 


  
{{ end }} 